{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "printWidth": 180,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "useTabs": false
}
